<%= _('Disclaimer: This message and any reply that you make will be ' \
      'published on the internet. Our privacy and copyright policies:') %>
<%= help_officers_url %>

<% if feature_enabled? :alaveteli_pro %>
<%= _('Please note that in some cases publication of requests and ' \
      'responses will be delayed.') %>
<% end %>

<%= _('If you find this service useful as an FOI officer, please ask your ' \
      'web manager to link to us from your organisation\'s FOI page.') %>

 Hér má nálgast Upplýsingalögin (140/2010) sem þessi beiðni byggir á: <a href="https://www.althingi.is/lagas/nuna/2012140.html">Upplýsingalög</a>

 Vefsíða Stjórnarráðsins um framkvæmd upplýsingalaga: <a href="https://www.stjornarradid.is/verkefni/upplysingasamfelagid/upplysingalog/">Framkvæmd upplýsingalaga á stjornarradid.is</a>